@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(232, 226, 226);
}
.app{
    
    margin: auto;
    padding:0 24px;
    background-color: rgb(232, 226, 226);
    font-family: 'Roboto', sans-serif;
}